

.gym__search-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    }

.gym__search-upper_section {
    display: flex;
    gap:8rem;
}

.gym__search-title{
    margin-left: 6rem;
    margin-top:6rem;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
}

.gym__search-title h1{
    font-size: 40px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-base);
    max-width: 540px;

    background: -webkit-radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 1) 0%, rgba(177, 231, 251, 1) 50%, rgba(178, 126, 218, 1) 100%);
    background: radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 1) 0%, rgba(177, 231, 251, 1) 50%, rgba(178, 126, 218, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gym__search-bar{
    flex: 1;
    margin-top:5.9rem;
    margin-right: 5rem;
    display:flex;
    width:400px;
    height:50px;
    border-radius: 15px;
}

.gym__search-bar input {
    flex: 2;
    padding-left: 2rem;
    justify-content: flex-end;
    background: -webkit-radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 1) 0%, rgba(177, 231, 251, 1) 50%, rgba(178, 126, 218, 1) 100%);
    background: radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 1) 0%, rgba(177, 231, 251, 1) 50%, rgba(178, 126, 218, 1) 100%);
    border: none;
    outline: none;
    font-family:var(--font-base);
    font-size:20px;
    line-height:27px;
    border-radius: 15px;
    -webkit-text-fill-color: rgba(178, 126, 218, 1);
}

.body_part{
    width:60px;
}

.gym__search-lower_section h1{
    font-size: 25px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-base);
    max-width: 540px;

    background: -webkit-radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 1) 0%, rgba(177, 231, 251, 1) 50%, rgba(178, 126, 218, 1) 100%);
    background: radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 1) 0%, rgba(177, 231, 251, 1) 50%, rgba(178, 126, 218, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media (max-width: 768px) {
    .gym__search-title h1{
        font-size: 30px;
    }
    .gym__search-upper_section{
        flex-direction: column;
        gap:2rem;
        justify-content: center;
        align-items:center;
    }
    .gym__search-title{
        margin: 2rem 2rem 1.5rem 2rem;
        align-items:CENTER;
        justify-content: center;
    }
    .gym__search-title h1{
        text-align: center;
    }
    .gym__search-bar{
        margin: 0 2rem 1.5rem 2rem;
        align-items:CENTER;
        justify-content: center;
        width: 325px;
    }
}
@media (max-width: 480px) {



    .gym__blog-container_title h1 {
        font-size: 45px; /* Further reduce the font size */
    }

    .gym__blog-information {
        margin: 0 1rem 1rem 1rem; /* Further reduce margins for very small screens */
    }

    .gym__blog-information_section_text h1 {
        font-size: 28px; /* Even smaller font size for section titles */
        line-height: 32px;
    }

    .gym__blog-information_search_container {
        flex-direction: column;
        padding: 1rem;
    }
}